@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  overflow-x: hidden;
   font-family: 'Montserrat',
   sans-serif !important;
  color: black!important;
}

/*--- Navigation --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(110, 152, 219) !important;
}

/*--- Landing Page --*/
.home-inner {
  background-image: url(img/background.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
}

.caption h1 {
  font-family: 'Montserrat',
  sans-serif!important;
  font-size: 3.8rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.9rem black;
  padding-bottom: 3rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  margin: 1.5rem auto;
}

.narrow {
  padding-top: 2rem;
}

.heading {
  text-align: left;
  font-weight: 700;
  font-size: 3rem;
}

.jumbotron {
  margin-bottom: 0px !important;
}

.heading-underline {
  width: 7rem;
  height: 0.3rem;
  background-color: rgb(110, 152, 219) !important;
  text-align: left;
  margin-top: 1rem;
  
}
.heading-underline-about {
  width: 7rem;
  height: 0.3rem;
  text-align: center!important;
  background-color: rgb(110, 152, 219) !important;
  margin-top: 1rem;


}

.projects-heading {
  text-align: left;
  font-weight: 700;
  font-size: 3rem;


}

.photo {
  justify-content: center;
  align-items: center;
  margin:auto;
  width: 100%;
  border-radius:5%;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
}


.description-about-content{
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

.project-photo {
  text-align: center  ;
  padding: 0px;
  width: 400px;
  height: 280px;
  max-width: 480px;
  width:100%;
  padding-bottom: 2rem;
  
}
.project-photo-container {
  overflow: hidden;
}

.project-photo-container img{
  transition: transform .6s ease;
}

.project-photo:hover {
  opacity: 0.7;
  transform: scale(1.1);
  
}

.about-text {
  font-size: 1.48rem;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;

  max-width: 100%;
  padding-bottom: 5rem;
}

.project-heading {
  color: rgb(110, 152, 219) !important;
  line-height: 1.25em;
  height: 2.5em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden; 
}

.project {
  padding-bottom: 5rem;
  font-size: 1.1rem;
}

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
  margin-right: 2rem;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: rgb(110, 152, 219) !important;
}
  

.narrow {
  width: 90%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


.caption .button-transform{
  transform: scale(2.5);
  cursor: pointer;
}

.nav-link:hover{
  color: rgb(110, 152, 219)!important;
}

.animation-1{

  -webkit-animation: text 3s  forwards;
}
.animation-2 {
 
 animation: text2 4s 1;
}
.animation-3 {
  
  animation: text2 4s 1;
  }

@keyframes text{
  0%{
    animation-delay : 3s;
     opacity: 0;
    animation-fill-mode: both;
  }
  30%{
    letter-spacing: 20px;
    
  }
   50% {
     color: white;
   }
   90% {
     color: white;
     letter-spacing: 0px;

   }
    50%,
    100% {
      opacity: 0;
    }
   100%{
     opacity: 1
   }


}
@keyframes text2 {
  
  0% {
    animation-delay: 3s;
    opacity: 0;
    color: black;
    margin-top: -40px;
    animation-fill-mode: both;
  }

  30% {
 
  
    color: white;
    margin-top: -40px;
  }
   50%,
   100% {
     opacity: 0;
   }

  100%{
    opacity: 1;
  }
}

.projects-content, .skills-content{
  padding-top: 60px;
  justify-content:center;
}

.project-item{
  border: 3px solid rgb(110, 152, 219) !important;
  max-height:555px;
  min-height:555px;
  margin: 20px;
  background-color:white;
  border-radius: 10px;

}

.skill-item{
  max-height:700px;
  margin: 20px;
  background-color:white;
  border-radius: 10px;
}

.skill-item h3{
  font-weight: bold;
}

.about-content{
  text-align: center;
  justify-content: center;
  margin:0 auto;

}

a:link{
  text-decoration: none;
}

a .fa-github{
  color:rgb(99, 81, 200);
}

.no-wrap {
  white-space:nowrap;
  overflow-x:auto;
  overflow-y:hidden;
}

.overflow-y{
   overflow-y:auto;
   overflow-x:hidden;
}

.project-description{
  max-height: 175px;
  overflow-y: auto;
}

.button-down{
  font-size: 30px;
}

.button-down:hover{
    color: rgb(110, 152, 219);
    font-size: 40px;
}

.tech-item img{
  width: 100px;
}


@media screen and (max-width : 500px)
{
  .about-text
  {
    font-size: 18px!important;
  }
}


@media screen and (max-width : 500px)
{
  .about-text
  {
    font-size: 18px!important;
  }
}

.emoji{
  font-size: 50px;
}


